:root {
  --clr-primary-blue: hsl(233, 26%, 24%);
  --clr-primary-green: hsl(136, 65%, 51%);
  --clr-primary-cyan: hsl(192, 70%, 51%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 98%);
  --clr-neutral-300: hsl(220, 16%, 96%);
  --clr-neutral-500: hsl(233, 8%, 62%);

  --ff-base: "Public Sans", sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;
}

/* css reset  */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* general styling */

body {
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  font-size: 1.2rem;
  background-color: var(--clr-neutral-300);
}
.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-neutral-100);
  padding: 0 4rem;
  width: 100%;
  z-index: 10;
}
.nav-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  color: var(--clr-neutral-500);
  cursor: pointer;
}
.nav-item {
  padding: 1.5rem;
}
.nav-item:hover {
  border-bottom: 2px solid transparent;
  border-bottom-color: var(--clr-primary-green);
}
.mobile-icon {
  cursor: pointer;
  display: none;
  padding: 6px;
  background: transparent;
  border: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.invite-btn {
  cursor: pointer;
  background: var(--clr-neutral-100);
  background: linear-gradient(
    to right,
    var(--clr-primary-green),
    var(--clr-primary-cyan)
  );
  border: none;
  color: var(--clr-neutral-100);
  border-radius: 20em;
  font-size: 16px;
  padding: 0.7em 2em;
}
.invite-btn:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem 0;
  background-color: var(--clr-neutral-200);
  height: 90vh;
}
.hero-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 2rem;
  padding: 10rem 4rem;
  width: 40%;
}

p {
  color: var(--clr-neutral-500);
  font-size: 1rem;
}
.hero-text .invite-btn {
  width: 40%;
}

.mockup-image {
  background-image: url("images/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50px;
  background-position-y: -80px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.mockup-image img {
  transform: translate(140px, -5px);
}

.easybank {
  background-color: var(--clr-neutral-400);
  height: 90vh;
  padding: 5rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.easybank-header {
  width: 50%;
}
.easybank-cards {
  display: flex;
  gap: 4rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 765px) {
  .navbar {
    padding: 0 2rem;
  }
  .mobile-icon {
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cross {
    display: none;
  }
  .mobile-icon.active .hamburger {
    display: none;
  }
  .mobile-icon.active .cross {
    display: block;
    z-index: 3;
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 75px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--clr-neutral-100);
    transition: 0.3s;
    gap: 5px;
    -webkit-box-shadow: 7px 18px 97px -36px rgba(0, 0, 0, 0.72);
    -moz-box-shadow: 7px 18px 97px -36px rgba(0, 0, 0, 0.72);
    box-shadow: 7px 18px 97px -36px rgba(0, 0, 0, 0.72);
  }
  .nav-menu.active {
    left: 5px;
    width: 90%;
    margin: 2% 5% 2% 5%;
    padding: 10%;
    border-radius: 0.5em;
  }
  .navbar .invite-btn {
    display: none;
  }
  .hero-section {
    all: unset;
    display: flex;
    flex-direction: column-reverse;
  }
  .hero-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    font-size: 1.2rem;
  }
  .mockup-image {
    width: 100%;
    background-size: 100%;
    background-position-x: 120px;
    background-position-y: 30px;
  }
  .mockup-image img {
    width: 100%;
  }

  .easybank {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .easybank-header {
    width: 100%;
  }
  .easybank-cards {
    display: flex;
    flex-direction: column;
  }
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}
